app/build
app/release
# OSX files
.DS_Store

# Java class files
*.class

# Android Studio
*.iml
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
local.properties
