<?xml version="1.0" encoding="utf-8"?>
<!-- // change the versionCode and versionName for release. Last update 03/January/2019 // -->
<manifest android:versionCode="29" android:versionName="3.0.2"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:label="@string/app_title" android:icon="@drawable/ic_launcher" android:allowBackup="true">
        <service
            android:label="@string/app_title"
            android:icon="@drawable/ic_launcher"
            android:name="im.skn.daydreamerquoth.DayDreamerQuoth"
            android:exported="false"
            android:permission="android.permission.BIND_DREAM_SERVICE">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.service.dream" android:resource="@xml/dream" />
        </service>
        <activity android:name="im.skn.daydreamerquoth.QuothPrefs" />
        <activity android:label="@string/app_title" android:name="QuothActivity" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>