<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="19" android:versionName="2.6" package="im.skn.daydreamerquoth"
  xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="19" />
    <application android:label="@string/app_title" android:icon="@drawable/ic_launcher" android:allowBackup="true">
        <service android:label="@string/app_title" android:icon="@drawable/ic_launcher" android:name="im.skn.daydreamerquoth.DayDreamerQuoth" android:exported="false">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.service.dream" android:resource="@xml/dream" />
        </service>
        <activity android:name="im.skn.daydreamerquoth.QuothPrefs" />
        <activity android:label="@string/app_title" android:name="QuothActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>