<?xml version="1.0" encoding="utf-8"?>
<!-- // change the versionCode and versionName for release. Last update 02/July/2018 // -->
<manifest android:versionCode="20" android:versionName="2.7" package="im.skn.daydreamerquoth"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <!--
    //  August 2018: New apps required to target API level 26 (Android 8.0) or higher.
        November 2018: Updates to existing apps required to target API level 26 or higher.
    //
    -->
  <uses-sdk android:minSdkVersion="17" android:targetSdkVersion="26" />
    <application android:label="@string/app_title" android:icon="@drawable/ic_launcher" android:allowBackup="true">
        <service android:label="@string/app_title" android:icon="@drawable/ic_launcher" android:name="im.skn.daydreamerquoth.DayDreamerQuoth" android:exported="false">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.service.dream" android:resource="@xml/dream" />
        </service>
        <activity android:name="im.skn.daydreamerquoth.QuothPrefs" />
        <activity android:label="@string/app_title" android:name="QuothActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>